@charset "UTF-8";

@font-face {
  font-family: 'NotoSansKRTh';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Thin'), local('NotoSans-Thin'),
       url(../fonts/NotoSansKR-Thin.eot),
       url(../fonts/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansKR-Thin.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKRL';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'),
       url(../fonts/NotoSansKR-Light.eot),
       url(../fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansKR-Light.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKRR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'),
       url(../fonts/NotoSansKR-Regular.eot),
       url(../fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansKR-Regular.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKRM';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'),
       url(../fonts/NotoSansKR-Medium.eot),
       url(../fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansKR-Medium.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKRB';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url(../fonts/NotoSansKR-Bold.eot),
       url(../fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NotoSansKR-Bold.woff) format('woff');
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../fonts/woff2/Pretendard-Black.woff2) format('woff2'), url(../fonts/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/woff2/Pretendard-Bold.woff2) format('woff2'), url(../fonts/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../fonts/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../fonts/woff2/Pretendard-Medium.woff2) format('woff2'), url(../fonts/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/woff2/Pretendard-Regular.woff2) format('woff2'), url(../fonts/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../fonts/woff2/Pretendard-Light.woff2) format('woff2'), url(../fonts/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../fonts/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(../fonts/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../fonts/woff2/Pretendard-Thin.woff2) format('woff2'), url(../fonts/woff/Pretendard-Thin.woff) format('woff');
}



:lang(ko) {font-family: 'NotoSansKR', sans-serif;} // Korea
:lang(ko) .nanumsquare {font-family: 'nanumsquare', sans-serif;}
:lang(en) {font-family: 'NotoSansKR', sans-serif;} // English
:lang(en) .nanumsquare {font-family: 'nanumsquare', sans-serif;}
:lang(zh) {font-family: 'NotoSansKR', sans-serif;} // chinese
:lang(zh) .nanumsquare {font-family: 'nanumsquare', sans-serif;}
:lang(es) {font-family: 'NotoSansKR', sans-serif;} // spanish
:lang(es) .nanumsquare {font-family: 'nanumsquare', sans-serif;}


/*
1. 기본 라틴 문자 (영어)
범위: 
  U+0020-007F 
  U+0041-005A (대문자)
  U+0061-007A (소문자)
설명: 영어 알파벳, 숫자, 기본 특수 문자 등이 포함됩니다.
예: A, B, C, a, b, c, 1, 2, 3, !, @, #
unicode-range: U+0020-007F; // 영문전체

2. 한글
범위:
  U+1100-11FF (한글 자모)
  U+3130-318F (한글 호환 자모)
  U+AC00-D7AF (한글 음절)
설명: 한글 자모, 호환 자모, 음절을 포함합니다.
예: 가, 나, 다, ㄱ, ㄴ, ㄷ
unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7AF;

3. 숫자
범위: U+0030-0039
설명: 아라비아 숫자 (0-9) 입니다.
예: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
unicode-range: U+0030-0039;

4. 확장 라틴 문자
범위: U+0080-00FF
설명: 라틴 보충 문자로 서유럽 언어의 특수 문자가 포함됩니다.
예: é, ñ, ö
unicode-range: U+0080-00FF;

5. 키릴 문자 (러시아어)
범위: U+0400-04FF
설명: 러시아어를 포함한 키릴 문자가 포함됩니다.
예: А, Б, В, Г
unicode-range: U+0400-04FF;

6. 일본어 (히라가나, 가타카나, 한자)
범위:
  히라가나: U+3040-309F
  가타카나: U+30A0-30FF
  한자: U+4E00-9FBF
설명: 일본어의 히라가나, 가타카나, 한자가 포함됩니다.
예: あ, い, う, ア, イ, ウ, 漢, 字
히라가나  unicode-range: U+3040-309F;
가타카나  unicode-range: U+30A0-30FF;
한자      unicode-range: U+4E00-9FBF;

7. 중국어 (한자)
범위: U+4E00-9FFF
설명: 중국어 한자가 포함됩니다.
예: 汉, 字
unicode-range: U+4E00-9FFF;

*/